<!DOCTYPE html>
<html>

<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <link rel="stylesheet" type="text/css" href="assets/styles.css">
</head>

<body>
  <img src="https://s3.ap-south-1.amazonaws.com/murch-assets/murcho_color.png" alt="Murch Logo" class="h-10">

  <h2>Account Password Reset Successful</h2>

  <p>Hi there,</p>

  <p>
    Your account password has been Successfully updated. Please login using your new password to access our platform.
  </p>

  <p class="italics text-xs">
    If you did not change your password, contact our support team at: <span class="font-medium">support@murcho.com</span>
  </p>

  <p>Thanks,</p>
  <p lass="text-blue">Murcho Team.</p>
</body>

</html>